<%- include('partials/header'); -%>



<header>
  <div class="smoothie">
    <img src="/cool.png" alt="">
  </div>
  <div class="headings">
    <h2>Afro Tech</h2>
    <h3>By Africans For Africans</h3>
    <a href="/data" class="btn">View Blog</a>
  </div>
</header>


<%- include('partials/footer'); -%>